@using PagedList.Mvc
@using TimesheetManagement.Client.Tasks.Entities
@model TimesheetManagement.Client.Models.TimesheetViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
	ViewBag.Title = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Activities</h2>

<p>
	@Html.ActionLink("Add activity", "Create")
</p>
<table class="table">
	<tr>
		<th>
			Account
		</th>
		<th>
			TIN
		</th>
		<th>
			RN
		</th>
		<th></th>
	</tr>
	@foreach (Account account in Model.Accounts)
    {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => account.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => account.TaxpayerIdentificationNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => account.RegisterNumber)
			</td>
			<td>
				@Html.ActionLink("Details", "Details") |
				@Html.ActionLink("Edit", "Edit") |
				@Html.ActionLink("Delete", "Delete")
			</td>
		</tr>
	}
</table>

@*Page @(Model.PagingInfo.CurrentPage) of @Model.PagingInfo.TotalPages

@Html.PagedListPager(Model.EmployeeActivities, page => Url.Action("Index", new {page}))*@
