@using PagedList.Mvc
@using TimesheetManagement.Client.Mvc.Tasks.Models
@model TimesheetManagement.Client.Mvc.Tasks.Models.TaskActivityViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Your Activities</h2>

<p>
    @Html.ActionLink("Add Activity", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Project
        </th>
        <th>
            Task
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Hours
        </th>
        <th>
            Is Approved
        </th>
        <th></th>
    </tr>

    @foreach (TaskActivityModel taModel in Model.TaskActivityModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => taModel.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.DurationInHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Details", "Details") |
                @Html.ActionLink("Edit", "Edit") |
                @Html.ActionLink("Delete", "Delete")
            </td>
        </tr>
    }
</table>

Page @(Model.PagingInfo.CurrentPage) of @Model.PagingInfo.TotalPages

@Html.PagedListPager(Model.TaskActivityModels, page => Url.Action("Index", new {page}))
