@using PagedList.Mvc
@using TimesheetManagement.Client.Mvc.Tasks.Models
@model TimesheetManagement.Client.Mvc.Tasks.Models.TaskActivitiesViewModel

@section styles {
    @Styles.Render("~/Content/tasks")
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Your Activities</h2>

<!-- Add Activity Accordian -->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title">
                Add Activity
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div id="collapseOneBody" class="panel-body">
                <!-- Loads content dynamically -->
            </div>
        </div>
    </div>
</div>

<!-- Task Activities table -->
<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Project
        </th>
        <th>
            Task
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Hours
        </th>
        <th>
            Is Approved
        </th>
        <th></th>
    </tr>

    @foreach (TaskActivityViewModel taModel in Model.TaskActivityViewModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => taModel.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.DurationInHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => taModel.Activity.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Details", "Details") |
                @Html.ActionLink("Edit", "Edit") |
                @Html.ActionLink("Delete", "Delete")
            </td>
        </tr>
    }
</table>

<!-- Task Activities table pagination -->
Page @(Model.PagingInfo.CurrentPage) of @Model.PagingInfo.TotalPages

@Html.PagedListPager(Model.TaskActivityViewModels, page => Url.Action("Index", new {page}))


@section scripts {
    @Scripts.Render("~/bundles/tasks")
}
